@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');






* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}



a {
    text-decoration: none;
}

.username1 {
    display: flex;
    justify-content: center;
    
    
}

.label {
    display: flex;
    color: #04df9d;
    font-weight: bold;
    font-family: 'Caveat';
    font-size: 20px;
  }

  label:after { content: ": " }

.gender {
color: #04df9d;
font-family: 'Caveat';
font-size: 20px;
  }

.agreement {
    color: #04df9d;
    font-family: 'Caveat';
    font-size: 25px;
}

  input[type=text],input[type=password],[type=email]{
    width: 600px; 
    height: 39px; 
    border-radius: 50px; 
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    border: solid 1px #2b2323;
    font-family: 'Caveat';
    font-size: 20px;
  } 

.login {
    display: flex;
    justify-content: center;
    padding-top: 120px;
}

.button {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:after {
  content: "";
  background-color: #129b94;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button {
    padding: 13px 50px 13px;
  }
}

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -100;
  }


@media (min-aspect-ratio: 16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}


@media (max-aspect-ratio: 16/9) {
    .back-video {
        height: 100%;
        width: auto;
    }
}